/.settings/
/target/
/.classpath
/.project
/bin/

/java-utils-core/.settings/
/java-utils-core/target/
/java-utils-core/.classpath
/java-utils-core/.project
/java-utils-core/bin/

/java-utils-core/.project
/java-utils-core/.settings/org.eclipse.core.resources.prefs
/java-utils-core/.settings/org.eclipse.jdt.core.prefs
/java-utils-core/.settings/org.eclipse.m2e.core.prefs

WebDriverFactoryConfig.json
/footest.txt
